@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* line 4, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/base/_base.scss */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: auto;
  color: #000000;
  background-color: #F6F6F6; }

/* line 17, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/base/_base.scss */
h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 40px 0;
  text-align: center; }

/* line 26, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/base/_base.scss */
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 50px 0 30px 30px;
  text-align: left;
  color: #000000; }

/* line 38, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/base/_base.scss */
h4 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  margin: 0;
  text-align: left;
  color: #000000; }
  @media screen and (max-width: 750px) {
    /* line 38, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/base/_base.scss */
    h4 {
      font-size: 1.75rem; } }
  @media screen and (min-width: 751px) {
    /* line 38, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/base/_base.scss */
    h4 {
      font-size: 2.3rem; } }

/* line 59, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/base/_base.scss */
a:visited, a:link, a:active {
  text-decoration: none;
  color: #000000; }

/* line 70, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/base/_base.scss */
footer a:visited, footer a:link, footer a:active {
  text-decoration: none;
  color: #FFFFFF; }

/* line 79, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/base/_base.scss */
footer a:hover {
  color: #99E2D0; }

/* line 1, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_loader.scss */
.loader-container {
  position: absolute;
  z-index: 20;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  animation: loader-page 3s ease-in-out normal forwards;
  opacity: 1;
  background: #353535;
  position: fixed; }
  /* line 22, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_loader.scss */
  .loader-container .logo-loader {
    width: auto;
    height: 30px;
    margin-bottom: 20px; }

/* line 29, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_loader.scss */
.loader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60px; }
  /* line 38, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_loader.scss */
  .loader__circle1 {
    width: 15px;
    height: 15px;
    animation: circle-sparkle 1s ease-in-out alternate-reverse infinite;
    animation-delay: 0.5s;
    border-radius: 50%;
    background: #9356DC; }
  /* line 38, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_loader.scss */
  .loader__circle2 {
    width: 15px;
    height: 15px;
    animation: circle-sparkle 1s ease-in-out alternate-reverse infinite;
    animation-delay: 1s;
    border-radius: 50%;
    background: #FF79DA; }
  /* line 38, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_loader.scss */
  .loader__circle3 {
    width: 15px;
    height: 15px;
    animation: circle-sparkle 1s ease-in-out alternate-reverse infinite;
    animation-delay: 1.5s;
    border-radius: 50%;
    background: #99E2D0; }

@keyframes circle-sparkle {
  from {
    opacity: 0.3; }
  to {
    opacity: 1; } }

@keyframes loader-page {
  0% {
    opacity: 1; }
  75% {
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    visibility: hidden;
    opacity: 0; } }

/* line 1, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_buttons.scss */
button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: none; }

/* line 9, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_buttons.scss */
.button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 50px;
  text-align: center;
  color: #000000;
  color: #FFFFFF;
  border-radius: 30px;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  transition: box-shadow 150ms linear, transform 150ms linear;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3); }
  /* line 26, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_buttons.scss */
  .button1:hover {
    transform: scale(0.98);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3); }
  /* line 30, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_buttons.scss */
  .button1:active {
    transform: scale(0.97);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3); }

/* line 1, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_coeur-fav.scss */
.card-desc__favorite {
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 7, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_coeur-fav.scss */
.coeur2 {
  color: #000000; }
  /* line 10, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_coeur-fav.scss */
  .coeur2:hover {
    transition: transform 250ms ease;
    animation: grow-plus 250ms; }
  /* line 15, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_coeur-fav.scss */
  .coeur2:hover + .coeur1 {
    transition: transform 250ms ease;
    animation: grow 250ms;
    animation-fill-mode: forwards; }

/* line 23, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_coeur-fav.scss */
.coeur1 {
  transform: scale(0);
  background: -webkit-linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

/* line 33, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_coeur-fav.scss */
.coeur1 {
  font-size: 24px;
  position: absolute;
  z-index: 1; }

/* line 33, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_coeur-fav.scss */
.coeur2 {
  font-size: 24px;
  position: absolute;
  z-index: 2; }

/* line 33, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_coeur-fav.scss */
.coeur3 {
  font-size: 24px;
  position: absolute;
  z-index: 3; }

@keyframes grow {
  0% {
    transform: scale(0); }
  90% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

@keyframes grow-plus {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  90% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

/* line 1, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
header {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15); }

/* line 13, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
.container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 62px; }
  /* line 22, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
  .container-header img {
    width: auto;
    height: 30px; }
  /* line 27, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
  .container-header .bt-back {
    position: absolute;
    left: 0;
    align-items: center;
    justify-content: center;
    margin: 15px;
    top: 0; }
  @media screen and (min-width: 1100px) {
    /* line 13, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
    .container-header {
      max-width: 1100px;
      height: 100px;
      align-items: center;
      justify-content: space-between; }
      /* line 48, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
      .container-header .bt-back {
        display: none; }
      /* line 52, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
      .container-header img {
        height: 45px;
        margin: 25px; } }

/* line 59, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
.localisation,
.localisation-desktop {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  background-color: #EAEAEA; }
  /* line 70, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
  .localisation i,
  .localisation-desktop i {
    margin-right: 10px; }

/* line 75, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
.localisation {
  height: 50px; }
  @media screen and (min-width: 1100px) {
    /* line 75, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
    .localisation {
      display: none; } }

/* line 83, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
.localisation-desktop {
  display: none; }
  @media screen and (min-width: 1100px) {
    /* line 83, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
    .localisation-desktop {
      right: 0;
      display: flex;
      align-self: center;
      width: 200px;
      height: 50px;
      margin: 25px; } }

/* line 1, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_footer.scss */
footer {
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 25px 35px 25px;
  color: #FFFFFF;
  background-color: #353535; }
  @media screen and (min-width: 751px) {
    /* line 1, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_footer.scss */
    footer {
      padding: 40px; } }
  /* line 18, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_footer.scss */
  footer .logo {
    padding-bottom: 10px; }
    @media screen and (min-width: 751px) {
      /* line 18, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_footer.scss */
      footer .logo {
        padding-bottom: 15px; } }
    /* line 25, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_footer.scss */
    footer .logo img {
      width: auto;
      height: 20px; }

/* line 32, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_footer.scss */
.footer-menu {
  line-height: 27px;
  display: flex; }
  @media screen and (max-width: 750px) {
    /* line 32, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_footer.scss */
    .footer-menu {
      flex-direction: column; } }
  @media screen and (min-width: 751px) {
    /* line 32, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_footer.scss */
    .footer-menu {
      flex-direction: row;
      justify-content: space-between; } }
  @media screen and (min-width: 1100px) {
    /* line 32, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_footer.scss */
    .footer-menu {
      flex-direction: row;
      justify-content: space-between;
      max-width: 1100px; } }
  /* line 54, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_footer.scss */
  .footer-menu i {
    font-size: 0.9rem;
    margin-right: 10px; }

/* line 62, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_footer.scss */
.footer-menu,
.logo {
  width: 100%;
  max-width: 1100px; }

/* line 2, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  background-color: #F6F6F6; }
  /* line 11, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
  .container > div {
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center; }

/* line 22, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
.hiw {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #FFFFFF;
  width: auto; }
  /* line 33, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
  .hiw .choice-container {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 751px) {
      /* line 33, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .hiw .choice-container {
        font-size: 1.4rem;
        flex-direction: row; } }
  /* line 44, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
  .hiw .choice {
    font-weight: 500;
    position: relative;
    display: flex;
    width: 336px;
    height: 74px;
    border-radius: 20px;
    background: #F6F6F6;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15); }
    @media screen and (max-width: 750px) {
      /* line 44, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .hiw .choice {
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 24px; } }
    @media screen and (min-width: 751px) {
      /* line 44, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .hiw .choice {
        align-items: center;
        max-width: 170px;
        height: 150px;
        margin: 15px;
        padding: 15px;
        text-align: center; }
        /* line 74, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
        .hiw .choice i {
          display: none; } }
    /* line 79, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
    .hiw .choice--pink {
      background: #f2eafb; }
    /* line 83, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
    .hiw .choice i {
      padding: 0 18px 0 30px; }
    /* line 88, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
    .hiw .choice:nth-child(1) i {
      font-size: 1.2rem; }
    /* line 92, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
    .hiw .choice .circle-num {
      position: absolute; }
      @media screen and (max-width: 750px) {
        /* line 92, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
        .hiw .choice .circle-num {
          left: -14.4px;
          display: flex;
          align-items: flex-start;
          flex-direction: row;
          width: 24px;
          height: 24px; } }
      @media screen and (min-width: 751px) {
        /* line 92, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
        .hiw .choice .circle-num {
          top: -14.4px;
          display: flex;
          align-items: center;
          flex-direction: column;
          width: calc(100% - 30px); } }
      /* line 116, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .hiw .choice .circle-num .circle {
        position: absolute;
        z-index: 4;
        width: 28.8px;
        height: 28.8px;
        border-radius: 50%;
        background-color: #9356DC; }
      /* line 127, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .hiw .choice .circle-num .number {
        font-size: 0.85rem;
        font-weight: 400;
        position: absolute;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28.8px;
        height: 28.8px;
        color: #FFFFFF; }

@media screen and (max-width: 750px) {
  /* line 147, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
  .titre-h2 {
    width: 336px; } }

@media screen and (min-width: 751px) {
  /* line 147, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
  .titre-h2 {
    width: calc((170px + 15px + 30px)*3); } }

@media screen and (min-width: 1100px) {
  /* line 147, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
  .titre-h2 {
    display: flex;
    justify-content: center;
    width: 100%; } }

/* line 163, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
.titre-h2 h2 {
  margin: 40px 0 20px 0; }

/* line 168, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
.restaurants {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 40px 20px;
  background-color: #F6F6F6; }
  /* line 177, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
  .restaurants .cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }
    @media screen and (max-width: 750px) {
      /* line 177, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .restaurants .cards {
        width: calc((336px + 20px)*1); } }
    @media screen and (min-width: 751px) {
      /* line 177, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .restaurants .cards {
        width: calc((336px + 20px)*2); } }
    @media screen and (min-width: 1100px) {
      /* line 177, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .restaurants .cards {
        width: calc((336px + 20px)*3); } }
    /* line 194, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
    .restaurants .cards .card {
      display: flex;
      overflow: hidden;
      align-self: center;
      width: 336px;
      margin: 10px;
      margin-bottom: 10px;
      position: relative;
      border-radius: 15px;
      background-color: #FFFFFF;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15); }
      /* line 210, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .restaurants .cards .card__photo {
        position: relative;
        overflow: hidden;
        height: 180px; }
        /* line 217, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
        .restaurants .cards .card__photo img {
          width: 100%; }
      /* line 222, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .restaurants .cards .card-desc {
        position: relative;
        margin: 15px; }
        /* line 227, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
        .restaurants .cards .card-desc h3 {
          margin: 0; }
        /* line 231, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
        .restaurants .cards .card-desc__name {
          padding-bottom: 5px; }
        /* line 235, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
        .restaurants .cards .card-desc__city {
          font-weight: 300; }
        /* line 240, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
        .restaurants .cards .card-desc__favorite {
          font-size: 1.5rem;
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20%;
          height: 100%; }
      /* line 256, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .restaurants .cards .card__label {
        font-size: 0.85rem;
        font-weight: 500;
        position: absolute;
        top: 15px;
        right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 30px;
        color: #278870;
        background-color: #99E2D0; }

/* line 1, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
main {
  max-width: 1100px;
  margin: auto; }

@media screen and (max-width: 750px) {
  /* line 6, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
  .bg-image {
    max-height: 270px; } }

@media screen and (min-width: 751px) {
  /* line 6, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
  .bg-image {
    max-height: 400px; } }

@media screen and (min-width: 1100px) {
  /* line 6, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
  .bg-image {
    max-height: 600px; } }

/* line 21, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
img {
  width: 100%; }

/* line 25, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
.bt-back {
  font-size: 1.3rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin: 12px;
  border: 0 solid #EAEAEA;
  border-radius: 50%; }
  @media screen and (min-width: 1100px) {
    /* line 25, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
    .bt-back {
      display: none; } }
  /* line 45, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
  .bt-back:hover {
    border: 1px solid #e7e7e7; }

/* line 50, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
.menus {
  position: relative;
  display: flex;
  flex-direction: column;
  transform: translateY(-50px);
  border-radius: 42px 42px 0 0;
  background-color: #F6F6F6; }
  @media screen and (max-width: 750px) {
    /* line 50, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
    .menus {
      padding: 35px 20px; } }
  @media screen and (min-width: 751px) {
    /* line 50, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
    .menus {
      padding: 40px 30px; } }
  @media screen and (min-width: 1100px) {
    /* line 50, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
    .menus {
      border-radius: 0; } }
  /* line 74, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
  .menus .top-menu {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    letter-spacing: 0.07rem; }
    @media screen and (max-width: 750px) {
      /* line 74, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .top-menu {
        justify-content: space-between; } }
    /* line 88, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
    .menus .top-menu .card-desc__favorite {
      margin: 0 15px;
      padding: 20px;
      color: #000000; }
  /* line 96, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
  .menus .choix-plat {
    margin-bottom: 32px; }
    /* line 99, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
    .menus .choix-plat .titre {
      font-weight: 200;
      color: #000000; }
      @media screen and (max-width: 750px) {
        /* line 99, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
        .menus .choix-plat .titre {
          font-size: 1rem; } }
      @media screen and (min-width: 751px) {
        /* line 99, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
        .menus .choix-plat .titre {
          font-size: 1.25rem; } }
    /* line 113, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
    .menus .choix-plat .filet {
      width: 40px;
      height: 3px;
      margin: 5px 0 12px 0;
      background-color: #99E2D0; }
    /* line 121, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
    .menus .choix-plat .titre,
    .menus .choix-plat .filet {
      margin-left: 10px; }
    @media screen and (min-width: 751px) {
      /* line 126, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plats {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: calc(100% + 10px + 10px);
        margin-left: -10px; } }
    /* line 138, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
    .menus .choix-plat .plat {
      position: relative;
      top: 45px;
      overflow: hidden;
      margin-bottom: 12px;
      padding: 12px;
      animation: move-card 1s cubic-bezier(0, 0, 0, 1) forwards;
      opacity: 0;
      border-radius: 15px;
      background-color: #FFFFFF;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15); }
      @media screen and (max-width: 750px) {
        /* line 138, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
        .menus .choix-plat .plat {
          min-width: 300px;
          padding-right: 25px; } }
      @media screen and (min-width: 751px) {
        /* line 138, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
        .menus .choix-plat .plat {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: calc(100% - 40px);
          margin: 0 10px 0 10px; } }
      /* line 171, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat--1 {
        animation-delay: 0.16667s; }
      /* line 171, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat--2 {
        animation-delay: 0.33333s; }
      /* line 171, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat--3 {
        animation-delay: 0.5s; }
      /* line 171, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat--4 {
        animation-delay: 0.66667s; }
      /* line 171, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat--5 {
        animation-delay: 0.83333s; }
      /* line 171, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat--6 {
        animation-delay: 1s; }
      /* line 171, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat--7 {
        animation-delay: 1.16667s; }
      /* line 171, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat--8 {
        animation-delay: 1.33333s; }
      /* line 171, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat--9 {
        animation-delay: 1.5s; }
      /* line 171, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat--10 {
        animation-delay: 1.66667s; }
      /* line 176, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat__nom {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.8rem;
        width: calc(100% - 60px); }
      /* line 185, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat__ligne2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: width 400ms, text-overflow 400ms, margin-right 400ms, overflow 400ms; }
      /* line 193, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat__desc {
        font-size: 1rem;
        font-weight: 300;
        overflow: hidden;
        transition: width 400ms, text-overflow 400ms;
        white-space: nowrap;
        text-overflow: ellipsis; }
      /* line 207, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat__prix {
        font-size: 1rem;
        font-weight: bold;
        transition: margin-right 400ms; }
      /* line 214, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat__valid {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        transition-duration: 400ms;
        transform: translateX(60px); }
        /* line 225, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
        .menus .choix-plat .plat__valid__bg {
          width: 60px;
          height: 100%;
          background: #99E2D0; }
        /* line 232, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
        .menus .choix-plat .plat__valid__icon {
          font-size: 1.3rem;
          position: absolute;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          transition-duration: 400ms;
          transform: rotate(360deg);
          color: #FFFFFF; }
  /* line 254, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
  .menus .button-container {
    display: flex;
    justify-content: center;
    margin: 10px 0 50px 0; }

/* line 264, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
.plat:hover .plat__valid {
  transform: translateX(0px); }

/* line 268, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
.plat:hover .plat__valid__icon {
  transform: rotate(0deg); }

/* line 272, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
.plat:hover .plat__desc {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

/* line 279, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
.plat:hover .plat__prix {
  margin-right: 60px; }

@keyframes move-card {
  0% {
    opacity: 0; }
  100% {
    transform: translateY(-45px);
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */