@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* line 5, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/base/_base.scss */
body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 16px; }

/* line 13, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/base/_base.scss */
h1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0 0 40px 0;
  text-align: center; }

/* line 20, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/base/_base.scss */
h2 {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 50px 0 30px 30px;
  text-align: left; }

/* line 29, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/base/_base.scss */
h4 {
  font-family: 'Shrikhand', cursive;
  color: #000;
  font-weight: 400;
  font-size: 1.75rem;
  margin: 0;
  text-align: left; }

/* line 40, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/base/_base.scss */
a:visited, a:link, a:active {
  text-decoration: none;
  color: #000; }

/* line 50, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/base/_base.scss */
footer a:visited, footer a:link, footer a:active {
  text-decoration: none;
  color: #FFF; }

/* line 58, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/base/_base.scss */
footer a:hover {
  color: #99E2D0; }

/* line 1, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_buttons.scss */
button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  border: none; }

/* line 8, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_buttons.scss */
.button1 {
  width: 220px;
  height: 50px;
  color: #000;
  border-radius: 30px;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  transition: box-shadow 150ms linear, transform 150ms linear; }
  /* line 21, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_buttons.scss */
  .button1:hover {
    transform: scale(0.98);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.3); }
  /* line 25, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_buttons.scss */
  .button1:active {
    transform: scale(0.97);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3); }

/* line 1, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_coeur-fav.scss */
.card-desc__favorite {
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 7, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_coeur-fav.scss */
.coeur2 {
  color: #000; }
  /* line 10, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_coeur-fav.scss */
  .coeur2:hover {
    animation: grow-plus 250ms;
    transition: transform 250ms ease; }
  /* line 15, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_coeur-fav.scss */
  .coeur2:hover + .coeur1 {
    animation: grow 250ms;
    transition: transform 250ms ease;
    animation-fill-mode: forwards; }

/* line 22, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_coeur-fav.scss */
.coeur1 {
  background: -webkit-linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0); }

/* line 30, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_coeur-fav.scss */
.coeur1 {
  font-size: 24px;
  z-index: 1;
  position: absolute; }

/* line 30, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_coeur-fav.scss */
.coeur2 {
  font-size: 24px;
  z-index: 2;
  position: absolute; }

/* line 30, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/components/_coeur-fav.scss */
.coeur3 {
  font-size: 24px;
  z-index: 3;
  position: absolute; }

@keyframes grow {
  0% {
    transform: scale(0); }
  90% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

@keyframes grow-plus {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  90% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

/* line 1, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
header {
  display: flex;
  justify-content: center;
  position: relative;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15); }

/* line 8, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
.container-header {
  width: 100%;
  display: flex;
  justify-items: center;
  background-color: #FFF;
  position: relative; }
  /* line 15, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
  .container-header .logo-top {
    width: 166px;
    margin: auto; }
  @media screen and (max-width: 650px) {
    /* line 8, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
    .container-header {
      height: 62px; } }
  @media screen and (min-width: 651px) {
    /* line 8, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
    .container-header {
      height: 62px; } }
  @media screen and (min-width: 1280px) {
    /* line 8, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
    .container-header {
      height: 100px;
      width: 1200px;
      align-content: center; }
      /* line 33, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
      .container-header .logo-top {
        width: 260px;
        margin: auto;
        position: absolute;
        left: 0;
        margin: 25px;
        display: flex;
        align-self: center; } }
  @media screen and (max-width: 650px) {
    /* line 8, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
    .container-header {
      background: red; } }
  @media screen and (min-width: 651px) {
    /* line 8, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
    .container-header {
      background: blue; } }
  @media screen and (min-width: 1280px) {
    /* line 8, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
    .container-header {
      background: yellow; } }

/* line 60, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
.localisation,
.localisation-desktop {
  font-size: 1rem;
  color: #000;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 69, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
  .localisation i,
  .localisation-desktop i {
    margin-right: 10px; }

/* line 74, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
.localisation {
  height: 50px; }
  @media screen and (min-width: 1280px) {
    /* line 74, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
    .localisation {
      display: none; } }

/* line 82, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
.localisation-desktop {
  display: none; }
  @media screen and (min-width: 1280px) {
    /* line 82, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_header.scss */
    .localisation-desktop {
      height: 50px;
      width: 200px;
      position: absolute;
      margin: 25px;
      right: 0;
      display: flex;
      align-self: center; } }

/* line 1, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_footer.scss */
footer {
  background-color: #353535;
  color: #FFF;
  font-size: 1rem;
  font-weight: 300;
  padding: 25px;
  padding-bottom: 35px; }
  /* line 10, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_footer.scss */
  footer .logo img {
    width: 100px;
    height: 20px;
    padding-bottom: 10px; }
  /* line 16, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_footer.scss */
  footer .footer-menu {
    line-height: 27px; }
  /* line 20, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/layouts/_footer.scss */
  footer i {
    margin-right: 10px;
    font-size: 0.9rem; }

/* line 2, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
.container {
  background-color: #F6F6F6;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  /* line 9, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
  .container > div {
    text-align: center;
    font-weight: 300;
    font-size: 1.125rem;
    margin-bottom: 30px; }

/* line 18, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
.hiw {
  background-color: #FFF;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  /* line 25, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
  .hiw .choice-container {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 651px) {
      /* line 25, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .hiw .choice-container {
        flex-direction: row;
        font-size: 1.4rem; } }
  /* line 35, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
  .hiw .choice {
    width: 336px;
    height: 74px;
    background: #F6F6F6;
    border-radius: 20px;
    font-weight: 500;
    position: relative;
    display: flex;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15); }
    /* line 45, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
    .hiw .choice--pink {
      background: #f2eafb; }
    /* line 49, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
    .hiw .choice i {
      padding: 0 18px 0 30px; }
    /* line 54, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
    .hiw .choice:nth-child(1) i {
      font-size: 1.2rem; }
    @media screen and (max-width: 650px) {
      /* line 35, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .hiw .choice {
        margin-bottom: 24px;
        justify-content: flex-start;
        align-items: center; } }
    @media screen and (min-width: 651px) {
      /* line 35, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .hiw .choice {
        max-width: 170px;
        height: 150px;
        margin: 15px;
        padding: 15px;
        text-align: center;
        align-items: center; }
        /* line 72, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
        .hiw .choice i {
          display: none; } }
    /* line 77, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
    .hiw .choice .circle-num {
      position: absolute; }
      @media screen and (max-width: 650px) {
        /* line 77, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
        .hiw .choice .circle-num {
          width: 24px;
          height: 24px;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          left: -14.4px; } }
      @media screen and (min-width: 651px) {
        /* line 77, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
        .hiw .choice .circle-num {
          width: calc(100% - 30px);
          height: 100%;
          top: -14.4px;
          display: flex;
          flex-direction: column;
          align-items: center; } }
      /* line 99, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .hiw .choice .circle-num .circle {
        width: 28.8px;
        height: 28.8px;
        background-color: #9356DC;
        z-index: 4;
        position: absolute;
        border-radius: 50%; }
      /* line 109, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .hiw .choice .circle-num .number {
        color: #FFF;
        z-index: 5;
        position: absolute;
        width: 28.8px;
        height: 28.8px;
        font-weight: 400;
        font-size: 0.85rem;
        display: flex;
        justify-content: center;
        align-items: center; }

@media screen and (min-width: 651px) {
  /* line 127, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
  .titre-h2 {
    width: calc((170px + 15px + 30px)*3); } }

@media screen and (max-width: 650px) {
  /* line 127, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
  .titre-h2 {
    width: 336px; } }

/* line 138, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
.titre-h2 h2 {
  margin: 40px 0 20px 0; }

/* line 143, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
.restaurants {
  background-color: #F6F6F6;
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  /* line 150, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
  .restaurants .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center; }
  /* line 157, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
  .restaurants .card {
    width: 336px;
    display: flex;
    align-self: center;
    margin: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border-radius: 15px;
    background-color: #FFF;
    position: relative;
    display: flex; }
    /* line 173, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
    .restaurants .card__photo {
      position: relative;
      overflow: hidden;
      height: 180px; }
      /* line 178, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .restaurants .card__photo img {
        width: 100%; }
    /* line 183, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
    .restaurants .card-desc {
      margin: 15px;
      position: relative; }
      /* line 187, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .restaurants .card-desc h3 {
        margin: 0; }
      /* line 191, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .restaurants .card-desc__name {
        padding-bottom: 5px; }
      /* line 195, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .restaurants .card-desc__city {
        font-weight: 300; }
      /* line 200, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
      .restaurants .card-desc__favorite {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        height: 100%;
        width: 20%; }
    /* line 214, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
    .restaurants .card__label {
      position: absolute;
      width: 80px;
      height: 30px;
      background-color: #99E2D0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 0.85rem;
      color: #278870;
      top: 15px;
      right: 15px; }

/* line 1, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
.bg-image {
  max-height: 270px; }
  /* line 4, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
  .bg-image img {
    width: 100%;
    margin-bottom: -50px; }

/* line 10, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
.bt-back {
  position: absolute;
  height: 35px;
  width: 35px;
  margin: 12px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid #EAEAEA;
  border-radius: 50%; }
  /* line 22, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
  .bt-back:hover {
    border: 1px solid #e7e7e7; }

/* line 27, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
.menus {
  background-color: #F6F6F6;
  border-radius: 42px 42px 0px 0px;
  padding: 35px 20px;
  position: relative;
  display: flex;
  flex-direction: column; }
  /* line 35, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
  .menus .top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative; }
    /* line 42, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
    .menus .top-menu .card-desc__favorite {
      font-size: 1.5rem;
      color: #000;
      padding-right: 20px;
      margin-right: 15px; }
  /* line 50, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
  .menus .choix-plat {
    margin-bottom: 32px; }
    /* line 53, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
    .menus .choix-plat .titre {
      color: #000;
      font-size: 1rem;
      font-weight: 200; }
    /* line 59, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
    .menus .choix-plat .filet {
      height: 3px;
      width: 40px;
      background-color: #99E2D0;
      margin: 5px 0 12px 0; }
    /* line 66, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
    .menus .choix-plat .plat {
      width: calc(100%-40px);
      min-width: 350px;
      background-color: #FFF;
      border-radius: 15px;
      padding: 12px;
      padding-right: 25px;
      position: relative;
      margin-bottom: 12px;
      -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
      overflow: hidden;
      top: 45px;
      opacity: 0;
      animation: move-card 1s cubic-bezier(0, 0, 0, 1) forwards; }
      /* line 85, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat--1 {
        animation-delay: 0.16667s; }
      /* line 85, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat--2 {
        animation-delay: 0.33333s; }
      /* line 85, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat--3 {
        animation-delay: 0.5s; }
      /* line 85, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat--4 {
        animation-delay: 0.66667s; }
      /* line 85, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat--5 {
        animation-delay: 0.83333s; }
      /* line 85, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat--6 {
        animation-delay: 1s; }
      /* line 85, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat--7 {
        animation-delay: 1.16667s; }
      /* line 85, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat--8 {
        animation-delay: 1.33333s; }
      /* line 85, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat--9 {
        animation-delay: 1.5s; }
      /* line 85, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat--10 {
        animation-delay: 1.66667s; }
      /* line 91, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat__nom {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.8rem; }
      /* line 97, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat__ligne2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
      /* line 103, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat__desc {
        font-size: 1rem;
        font-weight: 300;
        width: 93%;
        overflow: hidden;
        white-space: nowrap;
        transition: width 400ms, text-overflow 400ms; }
      /* line 113, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat__prix {
        font-size: 1rem;
        font-weight: bold;
        transition-duration: 400ms; }
      /* line 120, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
      .menus .choix-plat .plat__valid {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        transition-duration: 400ms;
        transform: translateX(60px); }
        /* line 130, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
        .menus .choix-plat .plat__valid__bg {
          width: 60px;
          height: 100%;
          background: #99E2D0; }
        /* line 136, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
        .menus .choix-plat .plat__valid__icon {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          color: #FFF;
          font-size: 1.3rem;
          transform: rotate(360deg);
          transition-duration: 400ms; }
  /* line 154, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
  .menus .button-container {
    display: flex;
    justify-content: center;
    margin: 10px 0 50px 0; }

/* line 164, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
.plat:hover .plat__valid {
  transform: translateX(0px); }

/* line 168, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
.plat:hover .plat__valid__icon {
  transform: rotate(0deg); }

/* line 172, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
.plat:hover .plat__prix {
  transform: translateX(-60px); }

/* line 176, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_menus.scss */
.plat:hover .plat__desc {
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

@keyframes move-card {
  0% {
    opacity: 0; }
  100% {
    transform: translateY(-45px);
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */