.card-desc__favorite {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coeur2 {
    color: $colour-text1;

    &:hover {
        animation: grow-plus $duree-fav;
        transition: transform $duree-fav ease;
    }

    &:hover + .coeur1 {
        animation: grow $duree-fav;
        transition: transform $duree-fav ease;
        animation-fill-mode: forwards;
    }
}

.coeur1 {
    background: -webkit-linear-gradient(175deg, $colour-secondary 10%, $colour-primary 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(0);
}

@for $i from 1 through 3 {
    .coeur#{$i} {
        font-size: $heart-size;
        z-index: $i;
        position: absolute;
    }
}

@keyframes grow {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes grow-plus {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1);
    }

    90% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }

    transform: scale(1);
}
