// bloc "Book the menu you like"
.container {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 40px;

    background-color: $colour-background2;

    > div {
        font-size: 1.125rem;
        font-weight: 300;

        margin-bottom: 30px;

        text-align: center;
    }
}

// NOTE: bloc "How it work"
.hiw {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 20px;

    background-color: $colour-background1;
    width: auto;
    

    .choice-container {
        display: flex;
        flex-direction: column;

        @include tablet-only {
            font-size: 1.4rem;

            flex-direction: row;
        }
    }

    .choice {
        font-weight: 500;

        position: relative;

        display: flex;

        width: 336px;
        height: 74px;

        border-radius: 20px;
        background: $colour-background2;

        @include shadow;
        @include mobile-only {
            align-items: center;
            justify-content: flex-start;

            margin-bottom: 24px;
        }
        @include tablet-only {
            align-items: center;

            max-width: 170px;
            height: 150px;
            margin: $goutiere;
            padding: 15px;

            text-align: center;

            i {
                display: none;
            }
        }

        &--pink {
            background: lighten($colour-primary, 35%);
        }

        i {
            padding: 0 18px 0 30px;
        }

        // NOTE: taille icone tel mobile plus grande
        &:nth-child(1) i {
            font-size: 1.2rem;
        }

        .circle-num {
            position: absolute;

            @include mobile-only {
                left: $circle-diam-tablet/2*-1;

                display: flex;
                align-items: flex-start;
                flex-direction: row;

                width: $circle-diam;
                height: $circle-diam;
            }
            @include tablet-only {
                top: $circle-diam-tablet/2*-1;

                display: flex;
                align-items: center;
                flex-direction: column;
                // NOTE: décalage lié au padding : 15px x2

                width: calc(100% - 30px);
            }

            .circle {
                position: absolute;
                z-index: 4;

                width: $circle-diam-tablet;
                height: $circle-diam-tablet;

                border-radius: 50%;
                background-color: $colour-primary;
            }

            .number {
                font-size: 0.85rem;
                font-weight: 400;

                position: absolute;
                z-index: 5;

                display: flex;
                align-items: center;
                justify-content: center;

                width: $circle-diam-tablet;
                height: $circle-diam-tablet;

                color: $colour-background1;
            }
        }
    }
}

.titre-h2 {
    @include mobile-only {
        // NOTE: largeur de bloc
        width: 336px;
    }
    @include tablet-only {
        // NOTE: (largeur de bloc + padding + margin) x3
        width: calc((170px + #{$goutiere} + 30px)*3);
    }
    @include desktop-only {
        display: flex;
        justify-content: center;

        width: 100%;
    }

    h2 {
        margin: 40px 0 20px 0;
    }
}

.restaurants {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 20px 20px 40px 20px;

    background-color: $colour-background2;

    .cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        // NOTE: changement de la largeur du container pour que les blocs soient toujours centrés et lorsque le dernière ligne n'est pas complète, aligné à gauche.
        //  calc (largeur bloc + largeur goutière) x nombre blocs max en largeur

        @include mobile-only {
            width: calc((336px + 20px)*1);
        }
        @include tablet-only {
            width: calc((336px + 20px)*2);
        }
        @include desktop-only {
            width: calc((336px + 20px)*3);
        }

        .card {
            display: flex;
            overflow: hidden;
            align-self: center;

            width: 336px;
            margin: 10px;
            margin-bottom: 10px;
            
            position: relative;

            border-radius: 15px;
            background-color: $colour-background1;

            @include shadow;

            &__photo {
                position: relative;

                overflow: hidden;

                height: 180px;

                img {
                    width: 100%;
                }
            }

            &-desc {
                position: relative;

                margin: 15px;

                h3 {
                    margin: 0;
                }

                &__name {
                    padding-bottom: 5px;
                }

                &__city {
                    font-weight: 300;
                }


                &__favorite {
                    font-size: 1.5rem;

                    position: absolute;
                    top: 0;
                    right: 0;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 20%;
                    height: 100%;
                }
            }

            &__label {
                font-size: 0.85rem;
                font-weight: 500;

                position: absolute;
                top: 15px;
                right: 15px;

                display: flex;
                align-items: center;
                justify-content: center;

                width: 80px;
                height: 30px;

                color: darken($colour-tertiary, 40%);
                background-color: $colour-tertiary;
            }
        }
    }
}