@mixin shadow {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

@mixin shadow-button {
    //    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.30);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.30);
    transition: box-shadow 150ms linear, transform 150ms linear;
}

@mixin shadow-button--hover {
    //    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.30);
    transform: scale(0.98);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.30);
}

@mixin shadow-button--active {
    //    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.30);
    transform: scale(0.97);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.30);
}

//@mixin cut-text ($size) {
//    @if(width<$size) {
//        color: red;
//    }
//
//    @error $size;
//}

/* DEBUG:  */

//@mixin debugg {
//
// @error "test display error";
// @warn "test display warn";
//    @debug "test display debug";
//}
