 footer {
     font-size: 1rem;
     font-weight: 300;

     display: flex;
     flex-direction: column;
     align-items: center;

     padding: 25px 25px 35px 25px;

     color: $colour-background1;
     background-color: $colour-background4;

     @include tablet-only {
         padding: 40px;
     }

     .logo {
         padding-bottom: 10px;

         @include tablet-only {
             padding-bottom: 15px;
         }

         img {
             width: auto;
             height: 20px;
         }
     }
 }

 .footer-menu {
     line-height: 27px;

     display: flex;

     @include mobile-only {
         flex-direction: column;
     }

     @include tablet-only {
         flex-direction: row;
         justify-content: space-between;
     }

     //    FIXME: code desktop-only ne semble pas être interprété
     @include desktop-only {
         flex-direction: row;
         justify-content: space-between;

         max-width: $breakpoint-desktop;
     }

     i {
         font-size: 0.9rem;

         margin-right: 10px;
     }
 }


 .footer-menu,
 .logo {
     width: 100%;
     max-width: $breakpoint-desktop;
 }
