footer {
    background-color: $colour-background4;
    color: $colour-background1;
    font-size: 1rem;
    font-weight: 300;
    padding: 25px;
    padding-bottom: 35px;


    .logo img {
        width: 100px;
        height: 20px;
        padding-bottom: 10px;
    }

    .footer-menu {
        line-height: 27px;
    }

    i {
        margin-right: 10px;
    }
}
