header {
    // NOTE: relative pour afficher ombre
    position: relative;

    display: flex;
    justify-content: center;

    background-color: $colour-background1;

    @include shadow;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    height: 62px;

    img {
        width: auto;
        height: 30px;
    }

    .bt-back {
        position: absolute;
        left: 0;

        align-items: center;
        justify-content: center;

        // NOTE: Hack Safari alignement 
        margin: 15px;
        top: 0;

    }

    @include desktop-only {
        max-width: $breakpoint-desktop;

        height: 100px;

        align-items: center;
        justify-content: space-between;

        .bt-back {
            display: none;
        }

        img {
            height: 45px;
            margin: 25px;
        }
    }
}

.localisation,
.localisation-desktop {
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $colour-text1;
    background-color: $colour-background3;

    i {
        margin-right: 10px;
    }
}

.localisation {
    height: 50px;

    @include desktop-only {
        display: none;
    }
}

.localisation-desktop {
    display: none;

    @include desktop-only {
        //        position: absolute;
        right: 0;

        display: flex;
        align-self: center;

        width: 200px;
        height: 50px;
        margin: 25px;
    }
}
