.container-header {
    width: 100%;
    height: 62px;
    display: flex;
    justify-items: center;
    background-color: $colour-background1;
    position: relative;

    //    FIXME : l'ombre ne s'affiche pas à cause du bloc d'en dessous (les z-index ne corrigent pas le problème)
    @include shadow;

    .logo-top {
        width: 166px;
        margin: auto;
    }
}
