.container-header {
    width: 100%;
    height: 62px;
    display: flex;
    justify-items: center;
    background-color: $colour-background1;
    position: relative;

    @include shadow;

    .logo-top {
        width: 166px;
        margin: auto;
    }
}
